{% load markup %}
{% load getresponse %}

<script type="text/javascript">
   jQuery(document).ready(function() {
        jQuery("input:radio").attr("checked", false);
       
        jQuery("#answer_submit").click(function(index) {
            // verify the user has selected something.
            var checkedElement = jQuery("input:radio:checked");
            if (checkedElement.length < 1) {
                alert("Please select an answer before clicking submit.");
                return false;
            } else {
                return true;
            }
        });

        jQuery(".answer_value").click(function(index) {
            // uncheck any checked
            if (jQuery("input:radio:checked").length > 1)
                jQuery("input:radio:checked").attr("checked", false);
            
            // check mine
            var hiddenRadioButton = jQuery(this).parent().children("input:radio");
            hiddenRadioButton.attr("checked", true);
            showVideo(hiddenRadioButton);

            // add selection classes
            jQuery(".answer_value").removeClass("answer_value_selected");
            jQuery(this).addClass("answer_value_selected");
            
            jQuery(".answer_row").removeClass("answer_row_selected");
            jQuery(this).parents(".answer_row").addClass("answer_row_selected");
        });

        jQuery(".answer_row").click(function(index) {
            var answerValue = jQuery(this).find(".answer_value");
            answerValue.click();
        });

        jQuery(".answer_text").click(function(index) {
            var answerValue = jQuery(this).parents(".answer_row").find(".answer_value");
            answerValue.click();
        });
        
    });
</script>

<div id="multivideo">

{{ block.description|markdown }}

{% for question in block.question_set.all %}
    {% getquestionresponse question as response %}

        {{question.intro_text|markdown}}
    
        {% comment %}<div class="casetitle"> Question {{question.display_number|add:"1"}}:</div>{% endcomment %}
        
        <div class="casecontent">
            <div class="casequestion">
                {{question.text|markdown}}
                
                {% if response %}
                <div class="answer_feedback">
                    {% ifequal response.value|upper question.correct_answer_letter %}
                        <div class="correct">Correct</div>
                        <b>The correct answer was: {{question.correct_answer_letter}}. You are right! Nice work!</b>
                    {% else %}
                        <div class="incorrect">Incorrect</div>
                        <b>The correct answer was: {{question.correct_answer_letter}}. You chose {{response.value|upper}}. Oops!</b>
                    {% endifequal %}
                    
                    {{question.explanation|markdown}}
                    
                </div>
                <br />
                {% endif %}
                
                <form id="form-{{question.id}}" method="post" action=".">
                        <table cellspacing="0" cellpadding="0">
                        <tr>
                        <td style="vertical-align: center">
                                {% for answer in question.answer_set.all %}
                                    <table>
                                        <tr class="answer_row {% ifequal response.value|upper answer.value|upper %}answer_row_selected{%endifequal%}">
                                            <td style="vertical-align: top">
                                                {% if response %}
                                                    {% ifequal question.correct_answer_letter answer.display_letter %}
                                                        <div class="answer_value" style="background-color: #008800;">{{answer.value|upper}}</div>
                                                    {% else %}
                                                        <div class="answer_value" style="background-color: #E00000;">{{answer.value|upper}}</div>
                                                    {% endifequal %}
                                                    {% ifequal response.value|upper answer.value|upper %}
                                                        <div class="submitted">Submitted</div>
                                                    {% endifequal %}
                                                {% else %}
                                                    <div class="answer_value">
                                                        {{answer.display_letter}}
                                                    </div>
                                                {% endif %}
                                                <input style="display: none" name="pageblock-{{block.pageblock.id}}-question{{question.id}}" id="{{answer.id}}" value="{{answer.value}}" type="radio" />
                                            </td>
                                            <td style="vertical-align: top">
                                                <div class="answer_text">
                                                    {{answer.label}}
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                {% endfor %}
                            
                        </td>
                        <td class="answer_video">
                            {% for answer in question.answer_set.all %}
                                <div id="answer_video{{answer.id}}" style="{% if response %}{% ifequal response.value|upper answer.value|upper %}display: block;{%else%}display: none;{{%endifequal%}{%else%}display: none;{%endif%}" class="answer_video_selected">
                                    <center>{% spaceless %}{{answer.video|safe}}{% endspaceless %}</center>
                                </div>
                            {% endfor %}
                        </td>
                        </tr>
                        </table>
                        {% if not response %}
                            <input type="submit" id="answer_submit" name="submit{{question.id}}" value="Submit Answer" />
                        {% endif %}
                        
                        </form>
            </div>
        </div>

    
{% endfor %}

</div>