{% load markup %}
{% load getresponse %}

<div id="singlevideo">

{{ block.description|markdown }}

{% for question in block.question_set.all %}
    {% getquestionresponse question as response %}

        {{question.intro_text|markdown}}
    
        <div class="casecontent">
            <div class="casequestion">
                {{question.text|markdown}}
                
                {% if response %}
                    <div class="answer_feedback">
                        {% ifequal response.value|upper question.correct_answer_letter %}
                            <div class="correct">Correct</div>
                            <b>The correct answer was: {{question.correct_answer_letter}}. You chose {{response.value|upper}} too! Nice work!</b>
                        {% else %}
                            <div class="incorrect">Incorrect</div>
                            <b>The correct answer was: {{question.correct_answer_letter}}. You chose {{response.value|upper}}. Oops!</b>
                        {% endifequal %}
                        
                        {{question.explanation|markdown}}
                    </div>
                    <br />
                {% endif %}
                
                <div class="singlevideo_question">
                    <center>{% spaceless %}{{question.video|safe}}{% endspaceless %}</center>
                </div>
                <br />
                        
                {% for answer in question.answer_set.all %}
                    <form method="post" action=".">
                        <table border="0">
                        <tr border="0" {% if not response %} class="answer_row" {% endif %}>
                        <td style="vertical-align: top; padding: 5px;">
                           {% if response %}
                                {% ifequal question.correct_answer_letter answer.display_letter %}
                                    <div class="answer_value" style="background-color: #008800">{{answer.value|upper}}</div>
                                {% else %}
                                    <div class="answer_value" style="background-color: #E00000">{{answer.value|upper}}</div>
                                {% endifequal %}
                                {% ifequal response.value|upper answer.value|upper %}
                                    <input type="submit" class="answer_submit"  value="Selected" disabled="disabled"/>
                                {% endifequal %}                                
                            {% else %}
                                <input type="hidden" name="pageblock-{{block.pageblock.id}}-question{{question.id}}" value="{{answer.value|upper}}"/>
                                <div class="answer_value" onclick='jQuery("#{{question.id}}_{{answer.id}}_submit").click();'>{{answer.value|upper}}</div>
                                <input id="{{question.id}}_{{answer.id}}_submit" type="submit" class="answer_submit"  value="Select"/>                                
                            {% endif %}
                        </td>
                        <td class="singlevideo_answer_text">
                            {{answer.label}}
                        </td>
                        </tr>
                        </table>
                    </form>
                {% endfor %}
                
            </div>
        </div>
{% endfor %}

</div>