{% load markup %}
{% load getresponse %}

<script type="text/javascript">
   jQuery(document).ready(function() {
        jQuery("#answer_submit").click(function(index) {
            // verify the user has selected something.
            var checkedElement = jQuery("input:radio:checked");
            if (checkedElement.length < 1) {
                alert("Please select an answer before clicking submit.");
                return false;
            } else {
                return true;
            }
        });
    });
</script>

<div id="video">

{{ block.description|markdown }}

{% for question in block.question_set.all %}
    {% getquestionresponse question as response %}

    <div class="cases">
        {{question.intro_text|markdown}}
    
        {% comment %}<div class="casetitle"> Question {{question.display_number|add:"1"}}:</div>{% endcomment %}
        
        <div class="casecontent">
            <div class="casequestion">
                {{question.text|markdown}}
                <form id="form-{{question.id}}" method="post" action=".">
                    <div class="video" id='question-{{question.display_number|add:"1"}}'>
                        <div class="answer_video">
                            {% for answer in question.answer_set.all %}
                                <div id="answer_video{{answer.id}}" style="display: none;" class="answer_video_selected">
                                    <center>{% spaceless %}{{answer.video|safe}}{% endspaceless %}</center>
                                </div>
                            {% endfor %}
                        </div>   
                        
                        {% for answer in question.answer_set.all %}
                            <div class="answer_text">
                                <input name="pageblock-{{block.pageblock.id}}-question{{question.id}}" id="{{answer.id}}" value="{{answer.value}}" type="radio" />
                                <b>{{answer.display_letter}}.</b> {{answer.label}}
                            </div>
                        {% endfor %}
                    </div>
                    
                    <div id="answer_controls">
                        <input type="submit" id="answer_submit" name="submit{{question.id}}" value="Submit Answer" />
                    </div>
                </form>
            </div>
        </div>
        
        <div id="q{{question.id}}" class="answer" style="display:none">
                {% getquestionresponse question as response %}
                {% if response %}
                    {% ifequal response.value|upper question.correct_answer_letter %}
                        <div class="correct">Correct</div>
                        <b>The correct answer was: {{question.correct_answer_letter}}. You chose {{response.value|upper}} too! Nice work!</b>
                    {% else %}
                        <div class="incorrect">Incorrect</div>
                        <b>The correct answer was: {{question.correct_answer_letter}}. You chose {{response.value|upper}}. Oops!</b>
                    {% endifequal %}
                    
                {% endif %}
            
            {{question.explanation|markdown}}
        </div>
    </div>
{% endfor %}

</div>