#video table, tr, td
{
    border: none;
}

#singlevideo table
{
    border: none;
    width: 100%;
}

#multivideo table
{
    border: none;
}

.answer_feedback
{
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #dadada;
}

.answer_row
{
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-right: 0px;
}

.answer_row:hover, .answer_row_selected
{
    background-color: #E1E1E1;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E1E1E1', endColorstr='#FCFCFC'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#E1E1E1), to(#FCFCFC)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #E1E1E1,  #FCFCFC); /* for firefox 3.6+ */
}

.answer_value
{
    font-weight: bold;
    font-size: 84%;
    width: 63px;
    height: 20px;
    border:1px outset;
    text-align: center; 
    margin-left: 8px;
    margin-top: 8px;
}

.answer_value:hover, .answer_value_selected
{
    background-color: #eaa141;
    border:1px inset;
}

.submitted
{
    background-color: #333333;
    color: #FFF;
    font-size: 84%;
    width: 65px;
    text-align: center;
    height: 20px;
    margin-left: 8px;
}

.answer_text
{
    width: 192px;
    vertical-align: top;
    font-size: 90%;
    margin-bottom: 8px;
    padding: 2px;
    float: right;
}

.answer_video
{
    width: 490px;
    height: 100%;
    vertical-align: center;
    text-align: left;
    background-color: #E1E1E1;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E1E1E1', endColorstr='#FCFCFC'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#E1E1E1), to(#FCFCFC)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #E1E1E1,  #FCFCFC); /* for firefox 3.6+ */
}

#answer_submit
{
    background-color: #333333;
    color: #FFF;
    font-size: 74%;
    width: 100px;
    height: 28px;
    float: right;
}

.correct
{
    font-size: 120%;
    color: #006600;
    font-weight: bold;
}

.incorrect
{
    font-size: 120%;
    color: #C00000;
    font-weight: bold;
}

.singlevideo_answer_row
{
    border: 1px solid #ccc;
}

.singlevideo_answer_text
{
    font-size: 90%;
    margin-left: 12px;
    margin-top: 2px;
}

.singlevideo_question_video
{
    width: 100%;
    background-color: #E1E1E1;
    align: center;
    border: 1px solid #ccc;
}