#answer_controls
{
    clear: both;
}

#answer_submit
{
    float: left;
    background-color: #333333;
    color: #FFF;
    font-size: 84%;
    width: 245px;
    text-align: center;
    height: 30px;
}

.answer_text
{
    width: 235px;
    vertical-align: top;
    font-size: 90%;
    margin-bottom: 8px;
    padding: 4px;
    border: 1px solid black;
}

.answer_text_selected
{
    background-color: #D5D5D5;
}

.answer_video
{
    float: right;
    height: 400px;
    width: 490px;
    background-color: #E1E1E1;
    padding-top: 65px;
    text-align: center;
    
    background-image: url(../img/video-background.png);
    background-position: center middle;
    background-repeat: no-repeat;
}

.answer_video_selected
{
    border: none;
}

.correct
{
    font-size: 120%;
    color: #00FF00;
    font-weight: bold;
}

.incorrect
{
    font-size: 120%;
    color: #FF0000;
    font-weight: bold;
}