#video table, tr, td
{
    border: none;
}

.answer_text
{
    width: 245px;
    vertical-align: top;
    font-size: 90%;
    margin-bottom: 8px;
    margin-right: 6px;
    padding: 4px;
}

.answer_video
{
    width: 490px;
    height: 100%;
    background-color: #E1E1E1;
    vertical-align: center;
    text-align: center;
    border: 1px solid #ccc;
}

.answer_submit
{
    background-color: #333333;
    color: #FFF;
    font-size: 84%;
    width: 77px;
    text-align: center;
    height: 20px;
    border: none;
    margin-left: 4px;
    margin-bottom: 4px;
}

.answer_value
{
    font-weight: bold;
    font-size: 84%;
    width: 75px;
    height: 20px;
    margin-top: 4px;
    border:1px solid; 
    text-align: center;
    margin-left: 4px;
}

.answer_feedback 
{
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #dadada;
}

.answer_value:hover 
{
    background-color: #EFC48D;
    border: 1px solid black;
    border-collapse: collapse;
}

.correct
{
    font-size: 120%;
    color: #006600;
    font-weight: bold;
}

.incorrect
{
    font-size: 120%;
    color: #C00000;
    font-weight: bold;
}

/* Single Video Styles */

.singlevideo_question
{
    width: 100%;
    background-color: #E1E1E1;
    align: center;
    border: 1px solid #ccc;
}

.singlevideo_answer_text
{
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    vertical-align: top;
    padding-top: 5px;
}

